/* Color Palette: 
    #727029 (green), 
    #f1ece0 (cream), 
    #DF967D (muted pink), 
    #D04437 (medium pink),
    #A21C14 (red), 
    #451708 (merlot) 
*/


/* ------------ General ------------ */

body {
    background-color: #f1ece0;
    color: #A21C14;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding-left: 100px;
}
/* ------------ Header ------------ */

header {
    height: 400px;
    font-family: 'Courgette', cursive;
    font-size: 300%;
    font-weight: 700;
    padding-top: 100px; 
}
.headerImage {
    width: 200px;
    border-radius: 75%;

}

/* ------------ Nav ------------ */
nav {
    font-size: 20px;
    color: #727029;
}

/* ------------ Style -------------  */

#style {
    height: 200px;
    padding-top: 100px;
}


/* ------------ Content -------------  */

#content {
    height: 200px;

}
/* ------------ Function -------------  */

#function {
    height: 200px;
}
